<div class="dropdown">
    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown"
        aria-expanded="false">
        Ha noi
    </button>
    <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
        <li><a class="dropdown-item" href="/toy/">All Product</a></li>
        <li><a class="dropdown-item" href="/toy/list">List Product</a></li>
    </ul>
</div>
<div class="dropdown">
    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown"
        aria-expanded="false">
        Da Nang
    </button>
    <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
        <li><a class="dropdown-item" href="/to2y/">All Product</a></li>
        <li><a class="dropdown-item" href="/toy2/list">List Product</a></li>
    </ul>
</div>
<img src="	https://thumbs.dreamstime.com/b/toy-shop-illustration-white-background-43088844.jpg"
    class="rounded mx-auto d-block">